.section-title {
  .widht_624;
  text-align: center;
  display: flex;
  justify-self: center;
  align-items: center;
  min-height: 62px;
  margin: 0 auto 150px;
  padding: 8px 45px;
  background-color: @black;
  color: @white;
  font-family: @font2;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.277;
  text-transform: uppercase;
}
