.body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font: weight 400;
  font-style: normal;
  line-height: 1.375;
}

.page-header {
}

.page-header {
}

.page-header__container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1414px;
  width: 100%;
}

.page-header__logo {
  display: inline-block;
  width: 202px;
  height: 147px;
}

.page-header__logo-img {
  width: 100%;
  height: 100%;
}

.page-header__nav {
  display: inline-block;
}

.page-header__nav-link {
  margin: 0 25px;
  color: black;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}

.page-header__user-btn {
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  padding: 15px 40px;
  border: 1px solid#1f1e1e;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #1f1e1e;
}

.home {
  padding-top: 147px;
}

.main-header__title,
.main-header__text {
  margin: 0 0 70px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: normal;
  color: #1f1e1e;
}

.main-header__text {
  max-width: 948px;
  width: 100%;
  margin: auto;
}

.main-header__picture {
  display: block;
  margin-bottom: 70px;
  position: relative;
  width: 100%;
}

.main-header__picture::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 16.927%;
}

.main-header__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main-header {
  padding: 100px 0;
}

.events {
  padding-top: 147px;
}

.events__container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1414px;
  width: 100%;
  flex-direction: column;
}

.events__title {
  align-self: center;
}

.title {
  margin: 0 0 150px;
  box-sizing: border-box;
  padding: 7px 45px 9px;
  max-width: 624px;
  width: 100%;
  text-align: center;
  background-color: #1f1e1e;
  text-transform: uppercase;
  font-family: "Lora", sans-serif;
  font-size: 36px;
  font-size: normal;
  font-weight: 500;
  color: white;
}

.listing {
  display: flex;
  flex-wrap: wrap;
  gap: 120px 40px;
}

.listing__card-event {
  max-width: 405px;
  width: calc(33.333%-40px);
}

.card-event {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.card-event__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-event__link:hover .card-event__title {
  color: red;
  text-decoration-color: red;
}

.card-event__picture {
  position: relative;
  display: block;
  margin-bottom: 25px;
}

.card-event__picture::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 107.16%;
}

.card-event__picture-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-event__title {
  margin: 0 0 auto;
  min-height: 64px;
  text-decoration: underline;
  text-decoration-color: transparent;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #1f1e1e;
  transition: color 0.2s, text-decoration-color 0.23s;
}

.card-event__text {
  margin: 15px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #1f1e1e;
}

.card-event__time {
  margin-top: auto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  color: #1f1e1e;
}

.page-footer {
}
