.body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font: weight 400;
  font-style: normal;
  line-height: 1.375;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 147px;
  z-index: 100;
}

.page-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(222, 222, 222, 0.5);
  @supports (backdrop-filter: blur(10px)) {
    backdrop-filter: blur(10px);
    background-color: rgba(222, 222, 222, 0.5);
  }
}

.page-header__container {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1414px;
  width: 100%;
}

.page-header__logo {
  display: inline-block;
  margin-right: 45px;
  width: 202px;
  height: 147px;
}

.page-header__logo-img {
  width: 100%;
  height: 100%;
}

.page-header__nav {
  display: inline-block;
  margin-right: 307px;
}

.page-header__nav-link {
  margin: 0 25px;
  color: black;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}

.page-header__user-btn {
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  padding: 15px 40px;
  border: 1px solid#1f1e1e;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #1f1e1e;
}

.page-footer {
}
